.container .row{
    margin-top: 50px;
}

h2{
    margin: 0;
    color: #666;
    padding-top: 90px;
    font-size: 52px;
    font-family: "trebuchet ms", sans-serif;
}
.item{
    background: #333;
    text-align: center;
    height: 300px !important;
}

.img {
    display: table-cell;
    text-align: center;
    vertical-align:middle;
}

body{
    background: url('../images/sea.png') no-repeat, no-repeat fixed;
    background-size: cover;
}

.company{
    font-size: 23px;
    padding: 10px;

}
table{
    margin: 50px 0;
    text-align: left;
    border-collapse: separate;
    border-spacing: 10px;
    border-radius: 3px;
    font-size: 14px;
    width: auto;
    border:none;
    border-top:0 solid red;
}

td{
    color: black;
    padding: 5px;
    font-size: 25px;
    border-bottom:5px solid silver;
}

caption{
    font-style: italic;
    text-align: right;
    color: #547901;
}

.gallery img{
    width: 280px;
    height: 280px;
}

.gallery-block{
    display: inline;
}

.contacts{
    background: url('../images/contacs.png')  center center no-repeat;
    height: 783px;
    width: 476px;
}

.fish{
    background: url('../images/fish.png') no-repeat center;
    height: 350px;
}
